.观云 {
	background: #f6f1e7;
	color: #262626
}

.榛子 {
background: #f4e9c8;
	color: #262626
}

.青云 {
	background: #e5f0e4;
	color: #262626
}

.千草{
	background: #e0edf1;
	color: #262626
}
.石竹{
	background: #f0dfdf;
	color: #262626
}
.铅色{
	background: #dcdcdc;
	color: #262626;
}
.雷云{
	background: #1a1c1d;
	color: #808080;
}